.mantenimiento{
    background-image: url("../img/mantenimientopc.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}
@media screen and (max-width: 650px){
    .mantenimiento{
        background-image: url("../img/mantenimiento-cel.webp");
    }
}