@font-face {
    font-family:"PoiretOne";
    src: url('../fonts/PoiretOne.ttf')
}
body{
    overflow-x: hidden;
}
.bloque4{
    background-image: url(../img/fondo-portada-2.jpg);
    background-size: cover;
    font-family: PoiretOne;
    position:relative;
	display: grid;
	grid-template-rows: 1fr 1fr;

}

/* FOOTER */
.mapa{
	width: 100%;
	height: 50vh;
}
.footer{ /*div general del footer*/
	min-height: 50vh;
	width: 100%;
    position:relative;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: repeat(4,1fr);
}
.footer > *{
	margin-left:auto;
	margin-right: auto;
}
.imgBox{
	position: relative;
	width: 248px;
	height: 46.66px;
	padding:10px;
	margin-left: auto;
	margin-right: auto;
}
.letras{ /* logo solo letras xd*/
		height: 100%;
		width: 100%;
}
.explore{ /*SUFI TALLERES STUDIO*/
	margin-top:5px;
	position:relative;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.explore a{
	font-size: 2em;
	text-decoration: none;
	color: white;
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 6px 0px;

}

.EfectoCool::after{
	content: '';
	display: block;
	width: 0;
	position:absolute;
	height: 1px;
	background: #fff;
	transition: width .3s;
}
.EfectoCool:hover::after{
	width: 100%;
	height: 1.5px;
	transition: width .4s;
}

.Redes{ /*la recta de las redes*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	color: white;
	font-family: PoiretOne;
	position: relative;
	width: 70%;
}

.Redes p{
	color: white;
	text-align: center;
	margin-left: 7px; 
	font-size: 1.5em;
}
.icono{ /* iconos de redes*/
	height: 60px;
}

.Red{ 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.Red ul{
	padding-left: 0;
}
/*Terminamos contenido*/
@media screen and (max-width: 440px){
	.footer .imgBox{
		padding:10px;
	}
	.footer{
		align-items: center;
	}
	.footer .box p,.footer .box ul{
		display: none;
	}
	.footer .explore{
		flex-direction: column;
	}
	.footer .Redes{
		display: flex;
		align-items: center;
	}
    .footer .Redes img{
        height: 3em;
		
    }
	.footer .derechos p{
		margin:5px;
	}
    .footer .explore a{
        font-size:1.5em;
        letter-spacing: 2.5px;
		margin-left: 0;
    }  
}
@media screen and (max-height:340px){
	.footer .imgBox{
		height:35px;
		width: 170px;
	}
	.footer .explore a.EfectoCool{
		font-size:1.4em;
	}
	.bloque4 .footer .Redes .icono{
		height: 40px;
		padding:10px;
	}
}
@media screen and (max-width: 700px) and (min-width: 440px){
	.footer .box p,.footer .box ul{
		display: none;
	}
	.footer .imgBox{
		padding:3px;
	}

	.footer .explore{
		display:flex;
		justify-content: space-between;
	}
	.footer .Redes .icono{
		height: 50px;
	}
	.footer .explore a{
		margin-left: 0;
		font-size:1.8em;
	}
	/*Fin del footer*/
	}
	.Red{
		align-items: flex-start;
	}
	
    /*Parte final del responsive*/
@media screen and (max-width: 850px)  and (min-width: 700px), (max-height:540px){
	.footer .explore{
		font-size:.9em;
	}
	.footer .Redes{
		font-size:.8em;
	}
	.footer .derechos{
		display: flex;
		align-items: center;
	}
	.footer .derechos p{
		margin:0;
	}
	.footer .Redes img{
		height: 50px;
	}
}
