@font-face {
    font-family:"PoiretOne";
    src: url('../fonts/PoiretOne.ttf')
}
.brochure{
    display: flex;
    justify-content: center;
    height: 130px;
    width: 100%;
    background-color:#02484A;
    padding-top: 15px;
}
.brochure-box a{
    color:#fff;
    text-decoration: none;
}
.brochure-box{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
    color:#fff;
    font-family: "PoiretOne";
    text-align: center;
    font-size:20px;
}
.brochure-box p{
    margin:0;
}
.brochure-box .descarga{
    background-color: #013B3B;
    padding:10px;
    margin-bottom:5px;
    border-radius: 5px;
    margin-top: 8px;
}
.brochure-box .descarga:hover{
    background-color:#166b6ec9;
    color:rgb(25, 29, 28);
}
.brochure-box .descarga img{
    height: 20px;;
    margin-left: 30px;
}
@media screen and (max-width: 1200px) and (max-height: 1370px){
    .brochure-box p{
        width: 100%;
    }
}
@media screen and (max-width: 670px) and (max-height: 380px){
    .brochure-box p{
        width: 90%;
    }
}
@media screen and (max-width: 400px){
    .brochure-box{
        font-size: 19px;
        width:350px;
    }
    .brochure-box .descarga{
        background-color: #013B3B;
        padding:8px;
        padding-top:5px;
        margin-bottom:5px;
        border-radius: 5px;
        margin-top:20px;
    }   
}  
@media screen and (max-width: 320px){
    .brochure-box .descarga{
        margin-top: 10px;
    }
    .brochure-box{
        margin: 0px 5px;
        font-size: 18px;
    }
}