.nuestros-logros{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.base{
    font-family: BebasNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 86px;
    text-align: center;
    margin: 0px;
}
.resalto{
    font-size: 80px;
    margin-left: 15px;
}
.slogan{
    font-size: 40px;
    color: #E2DCDC;
    line-height: 50px;
    margin-bottom: 20px;
}
.logro-titulo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 15px;
}

.glide{
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__slide img{
    width: 100%;
    border-radius: 15px;
}

.glide__slide{
    opacity: .7;
    transition: .1s linear;
}

.glide__slide--active{
    opacity: 1;
    filter: none;
    /*transform: scale(1.1);*/
}

.glide__slides{
    overflow: visible;
}
@media screen and (max-width: 1200px){
    .nuestros-logros{
        min-height: 65vh;
    }
    .glide__slide img{
        width: 100%;
    }
}
@media screen and (max-width: 1370px) and (max-height: 1200px){
    .nuestros-logros{
        min-height: 80vh;
    }
}
@media screen and (max-width: 1370px) and (max-height: 800px){
    .nuestros-logros{
        min-height: 100vh;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1370px) and (max-height: 1370px){
    .nuestros-logros{
        min-height: 60vh;
    }
}
@media screen and (max-width: 1200px) and (max-height: 1370px){
    .nuestros-logros{
        min-height: 50vh;
    }
}
@media screen and (max-width: 999px){
    .nuestros-logros{
        min-height: 50vh;
    }
}
@media screen and (max-width: 800px){
    .nuestros-logros{
        min-height: 45vh;
    }
}
@media screen and (max-width: 800px) and (max-height: 1025px){
    .nuestros-logros{
        min-height: 57vh;
    }
}
@media screen and (max-width: 700px){
    .base{
        font-size: 55px;
    }
    .resalto{
        font-size: 70px;
    }
    .slogan{
        font-size: 35px;
    }
    .glide{
        max-width: 70%;
    }
    .nuestros-logros{
        min-height: 40vh;
    }
}
@media screen and (max-width: 450px){
    .base{
        font-size: 50px;
    }
    .resalto{
        font-size: 65px;
    }
    .slogan{
        font-size: 30px;
    }
    .nuestros-logros{
        min-height: 70vh;
    }
}
@media screen and (max-width: 450px) and (max-height: 820px){
    .nuestros-logros{
        min-height: 65vh;
    }
}

@media screen and (max-width: 360px){
    .base{
        font-size: 45px;
    }
    .resalto{
        font-size: 60px;
    }
    .slogan{
        font-size: 28px;
    }
}
@media screen and (max-width: 320px){
    .base{
        font-size: 40px;
    }
    .resalto{
        font-size: 55px;
    }
    .slogan{
        font-size: 28px;
    }
}