/* BLOQUE MODALIDADES*/
.modalidades{
    width: 100%;
    height: 100vh;
}
.titulos{
    font-family: BebasNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 86px;
    text-align: center;
}
.resalto{
    font-size: 70px;
    margin: 0px;
}
.slogan{
    font-size: 40px;
    color: #E2DCDC;
}
.conte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.clásica, .plus{
    width: 30%;
    height: 500px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clásica{
    color:#E2D8D8;
}
.plus{
    margin-left: 3%;
}
.modalidades ul{
    padding-left: 30px;
}

.clásica p, .plus p{
    margin: 0px;
    margin-left: 15px;
}
.montos{
    font-family: BebasNeue;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
}

.raya{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.modalidades li{
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;

    list-style: none;
    display: flex;
    align-items: center;
    margin: 28px 0px;
}
.modalidades li:nth-child(1){
    margin-top: 0px;
}
.modalidades li:nth-child(5){
    margin-bottom: 0px;
    align-items: flex-start;
}
.modalidades li p:nth-child(5){
    align-items: flex-start;
}
.chica-modalidades{
    width: 467px;
}

/*MODALIDADES RESPONSIVE*/
@media screen and (max-width: 750px){
    .titulos{
        font-size: 35px;
        line-height: 35px;
    }
    .clásica, .plus{
        width: 80%;
    }
    .clásica{
        margin-bottom: 40px;
    }
    .montos{
        font-size: 40px;
    }
    .modalidades{
        height: 100%;
    }
    .modalidades li{
        font-size: 23px;
    }
    .chica-modalidades{
        width: 0px;
    }
}
@media screen and (max-width: 450px){
    .titulos{
        font-size: 35px;
        line-height: 35px;
    }
    .conte{
        flex-direction: column;
    }
    .clásica, .plus{
        width: 80%;
    }
    .clásica{
        margin-bottom: 40px;
    }
    .montos{
        font-size: 40px;
    }
    .raya{
        visibility: visible;
        width: 100%;
    }
    .modalidades{
        height: 100%;
    }
    .modalidades li{
        font-size: 23px;
    }
    .chica-modalidades{
        width: 0px;
    }
}