/* BLOQUE MODALIDADES*/
.modalidades{
    width: 100%;
    min-height: 660px;
    max-height: 100vh;
}
.titulos{
    font-family: BebasNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 86px;
    text-align: center;
}

.conte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.clásica, .plus{
    width: 30%;
    height: 500px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clásica{
    color:#E2D8D8;
}
.plus{
    margin-left: 3%;
}
.modalidades ul{
    padding-left: 30px;
}

.clásica p, .plus p{
    margin: 0px;
    margin-left: 15px;
}
.montos{
    font-family: BebasNeue;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
}

.raya{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.modalidades li{
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;

    list-style: none;
    display: flex;
    align-items: center;
    margin: 28px 0px;
}
.modalidades li:nth-child(1){
    margin-top: 0px;
}
.modalidades li:nth-child(5){
    margin-bottom: 0px;
    align-items: flex-start;
}
.modalidades li p:nth-child(5){
    align-items: flex-start;
}
.chica-modalidades{
    width: 467px;
    margin-top: 1.5%;
}

/*MODALIDADES RESPONSIVE*/
@media screen and (max-width: 1200px){
    .titulos{
        font-size: 42px;
        line-height: 42px;
    }
    .clásica, .plus{
        width: 80%;
    }
    .montos{
        font-size: 41px;
    }
    .modalidades{
        height: 100%;
        min-height: 100%;
    }
    .modalidades li{
        font-size: 25px;
    }
    .chica-modalidades{
        width: 350px;
        height: 386.17px;
        margin-top: 11%;
    }
}
@media screen and (max-width: 1050px){
    .chica-modalidades{
        width: 300px;
        height: 331px;
        margin-top: 19%;
    }
    .modalidades li{
        font-size: 23px;
    }
}
@media screen and (max-width: 900px){
    .titulos{
        font-size: 35px;
        line-height: 35px;
    }
    .clásica, .plus{
        width: 80%;
    }
    .montos{
        font-size: 40px;
    }
    .modalidades{
        height: 100%;
    }
    .modalidades li{
        font-size: 23px;
    }
    .chica-modalidades{
        width: 0px;
    }
}
@media screen and (max-width: 540px){
    .titulos{
        font-size: 35px;
        line-height: 35px;
    }
    .conte{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .clásica, .plus{
        width: 80%;
    }
    .clásica{
        margin-bottom: 40px;
    }
    .montos{
        font-size: 40px;
    }
    .raya{
        visibility: visible;
        width: 100%;
        border: 2px solid transparent; 
        border-image: linear-gradient(270deg, 
        rgba(255, 255, 255, 0) 12.8%, 
        rgba(255, 255, 255, 0.497055) 51.13%, 
        rgba(255, 255, 255, 0) 90.22%) 1;
    }
    .modalidades{
        max-height: 100%;
    }
    .modalidades li{
        font-size: 20px;
    }
    .chica-modalidades{
        width: 0px;
        height: 0px;
        margin: 0px;
        visibility: hidden;
    }
}