body {
	margin: 0;
    /* overflow: hidden; */
}

.well {
	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.panel {
	height:100vh;
    width: 100%;
	box-sizing: border-box;
}
.bloque1{
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position:center;
    position:relative;
    background-repeat: no-repeat;
}
/*---------Bloque de bolitas--------------*/
.bolitas{
    position: fixed;
    left: 25px;
    top: 232px;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bolita{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: rgba(208, 208, 208, 1);
    margin-bottom: 24px;
    
}
.bolita:nth-child(1){
    width: 18px;
    height: 18px;
    background-color: white;
}
.bolita:nth-child(5){
    margin-bottom: 0px;
}
@media screen and (max-width: 440px){
    .bloque1{
        background-image: url(../img/portada-movil.jpg);
        background-attachment: fixed;    
    }
    .bloque2{
        background-image: url(../img/portada-movil.jpg);    
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }
    
    .bolitas{
        top: 25px;
    }
}

@media screen and (max-width: 710px) and (min-width: 441px){
    .bolitas{
        top: 25px;
    }
    .bolita{
        margin-bottom: 15px;
        width: 10px;
        height: 10px;
    }
    .bolita:nth-child(1){
        width: 18px;
        height: 18px;
    }
}
/*---------Fin del bloque de bolitas--------------*/