@font-face {
    font-family:"PoiretOne";
    src: url('../fonts/PoiretOne.ttf')
}
.box-testimonios {
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
}
.box-testimonios .contenido{
    position: relative;
    width: 1140px;
}
.box-testimonios .text{
    width: 698px;
    height: auto;
    position: relative;
    color:#fff;
    border: 5px solid #fff;
    margin:117px auto 60px 103px;
    padding:30px 120px 30px 30px
}
.box-testimonios .text h2{
    font-family:"BebasNeue";
    font-size: 50px;
}
.box-testimonios .text p{
    font-size:30px;
    font-family: "PoiretOne";
}
.box-testimonios .img{
    width:460px;
    height: 498px;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    margin:-125 auto 0 528px;
} 
/*Brochure*/
.brochure{
    height: 100px;
    width: 100%;
    background-color:#02484A;
}