@font-face {
    font-family:"PoiretOne";
    src: url('../fonts/PoiretOne.ttf')
}
.box-testimonios {
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
}
.box-testimonios .contenido{
    position: relative;
    width: 1140px;
}
.box-testimonios .text{
    width: 698px;
    height: auto;
    position: relative;
    color:#fff;
    border: 5px solid #fff;
    margin:117px auto 60px 103px;
    padding:30px 180px 30px 30px
}
.box-testimonios .text h2{
    font-family:"BebasNeue";
    font-size: 50px;
    margin-top:0;
}
.box-testimonios .text .nombre{
    margin-bottom: 0;;
}
.box-testimonios .text p{
    font-size:30px;
    font-family: "PoiretOne";
}
.box-testimonios .img-box{
    width:490px;
    height: 528px;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
} 
.box-testimonios img{
    width: 100%;
    position: relative;
    height: 100%;
}
/*Brochure*/

@media screen and (max-width: 1200px){
.box-testimonios .text{
    width: 526px;
}
.box-testimonios .contenido{
    width: 980px;
}
}
@media screen and (max-width: 1000px){
    .titulo{
        height: 70vh;
    }
    .box-testimonios .contenido{
        width: 840px;
    }
    .box-testimonios .text{
        width: 400px;
    }
    .box-testimonios .text h2{
        font-size: 40px;
    }
    .box-testimonios .text p{
        font-size:20px;
    }
    .box-testimonios .img-box{
        width:430px;
        height: 468px;
    } 
    .titulo .text .subtitle1{
        font-size:130px;
    
    }
    .titulo .text .subtitle2{
        font-size:200px;
    }
    .titulo .text .division{
        height: 2px;
    }
    .titulo .text .division::after{
        height:20px;
        width: 20px;

    }
    .titulo .text .division::before{
        height: 20px;
        width: 20px;

    }
    
}
@media screen and (max-width: 799px){
    
    .box-testimonios{
        display: flex;
        justify-content: center;
    }
    .box-testimonios .contenido{
        display: flex;
        justify-content: center;
    }
    .box-testimonios  .contenido .img-box{
        right: inherit;
        width: 360px;
        height: 390px;
    }
    .box-testimonios .contenido .text{
        margin-bottom:260px;
        margin-right: auto;
        margin-left: auto;
        width: 280px;
        text-align: center;
        padding:20px 20px 100px 20px;
    }
    .box-testimonios .text h2{
        font-size: 30px;
    }
    .box-testimonios .text p{
        font-size:20px;
    }

    .titulo .text .subtitle1{
        font-size:100px;
    
    }
    .titulo .text .subtitle2{
        font-size:160px;
    }
    .titulo .text .division{
        height: 2px;
    }
    .titulo .text .division::after{
        height:15px;
        width: 15px;

    }
    .titulo .text .division::before{
        height: 15px;
        width: 15px;

    }
}
@media screen and (max-width: 530px){
    
    .titulo .text .subtitle1{
        font-size:75px;
    }
    .titulo .text .subtitle2{
        font-size:125px;
    }
    .titulo .text .division{
        height: 2px;
    }
    .titulo .text .division::after{
        height:15px;
        width: 15px;

    }
    .titulo .text .division::before{
        height: 15px;
        width: 15px;
    }
    .box-testimonios  .contenido .img-box{
        width: 330px;
        height: 350px;
    }
    .box-testimonios .contenido .text{
        margin-bottom:220px;
    }
}
@media screen and (max-width: 400px){
    
    .titulo .text .subtitle1{
        font-size:65px;
    }
    .titulo .text .subtitle2{
        font-size:105px;
    }
    .box-testimonios  .contenido .img-box{
        width: 300px;
        height: 320px;
    }
    .box-testimonios .contenido .text{
        margin-bottom:200px;
    }
    .box-testimonios .contenido{
        width:290px;
    }
}