@charset "UTF-8";
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "PoiretOne";
  src: url("../fonts/PoiretOne.ttf");
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@media screen and (max-width: 450px) {
  .glide__arrow--left {
    left: -2.5em;
  }
  .glide__arrow--right {
    right: -2.5em;
  }
}

::-webkit-scrollbar {
  width: 12px;
  /* Tamaño del scroll en vertical */
  background-color: #011D23;
}

::-webkit-scrollbar-thumb {
  background: #dfe2e1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

h2 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

body {
  color: #ffffff;
  overflow-x: hidden;
  background-image: url(../img/fondo-pc.webp);
  background-size: 80%;
  background-repeat: repeat;
  position: relative;
}

h1, h2 {
  font-family: "BebasNeue";
}

h4, h5 {
  font-size: 1.3125rem;
}

p {
  font-family: "PoiretOne";
  font-size: 1.25rem;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../img/fondo-suficiencia-cel.webp);
  }
}

.seccion__titulo {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 86px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .seccion__titulo {
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 540px) {
  .seccion__titulo {
    font-size: 42px;
    line-height: 42px;
  }
}

@media screen and (max-width: 320px) {
  .seccion__titulo {
    font-size: 38px;
  }
}

.pointer {
  cursor: pointer;
}

.bloque1 {
  background-image: url(../img/portada.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloque1__imagen {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preloader {
  font-size: 1.4rem;
  color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "PoiretOne";
  height: 100px;
}

.preloader:before {
  content: "";
  border: 1.7px solid #ffff;
  width: 30px;
  height: 55px;
  border-radius: 40px;
  position: absolute;
  top: 30px;
}

.preloader:after {
  content: "";
  background-color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  from {
    top: 70px;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    top: 70px;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

/*---------Bloque de bolitas--------------*/
@media screen and (max-width: 440px) {
  .bloque1__imagen {
    display: block;
  }
  .bolitas {
    top: 25px;
  }
}

@media screen and (min-width: 1500px) {
  .preloader {
    font-size: 2rem;
    height: 150px;
  }
  .preloader:before {
    border: 1.7px solid #ffff;
    width: 50px;
    height: 90px;
    border-radius: 40px;
    top: 40px;
  }
  .preloader:after {
    width: 45px;
    height: 45px;
  }
  @-webkit-keyframes scroll {
    from {
      top: 80px;
    }
    to {
      top: 40px;
      opacity: 0;
    }
  }
  @keyframes scroll {
    from {
      top: 80px;
    }
    to {
      top: 40px;
      opacity: 0;
    }
  }
}

/*--------Fin del bloque de bolitas--------*/
.bloque2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servicio {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  color: white;
  -webkit-transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -ms-flex-positive 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  font-weight: 400;
}

.servicio:hover {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  cursor: pointer;
}

.servicio__textos {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.servicio__enlace {
  color: #ffff;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.servicio:hover .caja {
  width: 60%;
}

.caja {
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  position: relative;
  width: 80%;
  height: 30%;
  margin: 30px;
  top: -400px;
  -webkit-transition: all ease-out .6s;
  transition: all ease-out .6s;
  opacity: 0;
}

.caja__subtitulo1, .caja_subtitulo2 {
  text-align: start;
  display: block;
  font-size: 8vh;
  margin: 0;
}

.caja__subtitulo2 {
  font-size: 9.5vh;
  text-align: end;
}

.caja:nth-child(3) {
  width: 70%;
}

.caja__division {
  position: absolute;
  width: 100%;
  height: 1.2%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja__division::after, .caja__division::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
}

.caja__division::after {
  left: 0;
}

.caja__division::before {
  right: 0;
}

.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fondo--movil {
  display: none;
}

@media screen and (max-width: 700px), (orientation: landscape) and (max-width: 700px) {
  .servicio {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .servicio__enlace {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 30%;
    bottom: 10%;
    z-index: 100;
  }
  .servicio:hover .caja {
    width: auto;
  }
  .fondo--web {
    display: none;
  }
  .fondo--movil {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .caja {
    height: auto;
    position: relative;
    margin-bottom: 60px;
    padding: 10px;
    width: auto;
    border: 2.5px solid  #ffff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.28);
    padding-left: 20px;
    padding-right: 20px;
  }
  .caja:hover {
    background-color: rgba(255, 255, 255, 0.28);
  }
  .caja__division {
    display: none;
  }
  .caja__subtitulo1, .caja__subtitulo2 {
    text-align: center;
  }
}

@media (orientation: landscape) {
  .fondo--web {
    display: block;
  }
  .fondo--movil {
    display: none;
  }
}

.bloque4 {
  background-image: url(../img/fondo-portada-2.webp);
  background-size: cover;
  font-family: PoiretOne;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* FOOTER */
.mapa {
  width: 100%;
  min-height: 50vh;
  position: relative;
  background-image: url(../img/mapa.png);
  /*     &__frame{
	    min-height: 50vh;
    } */
}

@media screen and (min-height: 700px) {
  .mapa {
    background-image: url(../img/mapa-grande.png);
  }
}

/*div general del footer*/
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*la recta de las redes*/
}

.footer--suficiencia {
  background-color: #011D23;
  min-height: 50vh;
}

.footer--index {
  height: 50vh;
}

.footer > * {
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  max-width: 600px;
  min-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo-img {
  max-width: 100%;
  height: auto;
  /*Esto no debería ser necesario pero porsiacaso */
}

.footer__texto {
  font-size: 4vh;
  font-family: PoiretOne;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__copy {
  color: #acacac;
  font-size: large;
}

.red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.red__enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.red__icono {
  width: 9vh;
  max-width: 120px;
  min-width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.red__texto {
  text-align: center;
  margin-left: 7px;
  font-size: 3vh;
}

/*Terminamos contenido*/
@media screen and (min-width: 1930px) {
  .footer--suficiencia {
    min-height: 750px;
  }
}

@media (orientation: landscape) {
  .red__texto, .red__item {
    display: block;
  }
  .footer__logo {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .red__texto, .red__item {
    display: none;
  }
  .mapa {
    background-image: url(../img/mapa-tablet.png);
  }
}

@media screen and (max-height: 270px) {
  .footer__texto {
    display: none;
  }
}

.titulo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  position: relative;
  height: 550px;
  max-width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.titulo__texto {
  top: -20px;
  position: absolute;
  margin-left: 120px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  font-family: "BebasNeue";
}

.titulo__subtitulo1, .titulo__subtitulo2 {
  position: relative;
  margin: 0;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titulo__subtitulo1 {
  font-size: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.titulo__subtitulo2 {
  font-size: 180px;
}

.titulo__img--movil {
  display: none;
}

.titulo__img--web {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  bottom: 0;
  right: 0;
  grid-column: 8/-1;
  grid-row: 2/-1;
  width: 100%;
  height: 450px;
}

.titulo__img--web, .titulo__img--movil {
  position: relative;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .titulo__subtitulo1 {
    font-size: 100px;
  }
  .titulo__subtitulo2 {
    font-size: 150px;
  }
  .titulo__img--web {
    width: 650px;
    height: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .titulo__img--web {
    width: 550px;
    height: 400px;
  }
}

@media screen and (max-width: 929px) {
  .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .titulo__texto {
    margin: 0;
    position: relative;
  }
  .titulo__img--web {
    display: none;
  }
  .titulo__img--movil {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -o-object-fit: cover;
       object-fit: cover;
    width: 500px;
    top: -70px;
  }
  .titulo__subtitulo2 {
    text-align: end;
  }
  .titulo__division {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .titulo__division::after, .titulo__division::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
  }
  .titulo__division::before {
    right: 0;
  }
  .titulo__division::after {
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .titulo__subtitulo1 {
    font-size: 100px;
  }
  .titulo__subtitulo2 {
    font-size: 150px;
  }
  .titulo__img--movil {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .titulo__subtitulo1 {
    font-size: 80px;
  }
  .titulo__subtitulo2 {
    font-size: 130px;
  }
  .titulo__img--movil {
    width: 350px;
  }
  .titulo__division {
    height: 3px;
  }
  .titulo__division::after, .titulo__division::before {
    height: 15px;
    width: 15px;
  }
}

@media screen and (max-width: 450px) {
  .titulo__subtitulo1 {
    font-size: 70px;
  }
  .titulo__subtitulo2 {
    font-size: 90px;
  }
  .titulo__img--movil {
    width: 300px;
    top: -50px;
  }
}

.video {
  max-height: 755px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.video__contenedor {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video__frame {
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1600px) {
  .video {
    margin-bottom: 100px;
  }
}

/* HORARIOS*/
.horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.horarios__tabla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.horarios__nivel {
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 25px;
  font-family: BebasNeue;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

.horarios__nivel:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: #018c94;
}

.horarios__nivel:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: #006973;
}

.horarios__nivel:nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: #02484a;
}

.horarios__hora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
}

@media screen and (max-width: 740px) {
  .horarios__tabla {
    margin: 0px 10px;
  }
  .horarios__hora {
    font-size: 20px;
  }
  .horarios__nivel {
    font-size: 35px;
    padding: 25px 25px;
  }
}

@media screen and (max-width: 570px) and (max-height: 320px) {
  .horarios__hora {
    font-size: 17px;
  }
}

@media screen and (max-width: 560px) {
  .horarios__tabla {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    width: 95%;
    grid-gap: 15px;
  }
  .horarios__nivel {
    -ms-grid-column: 1;
    grid-column: 1;
    font-size: 25px;
    padding: 30px 15px;
  }
  .horarios__nivel:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .horarios__nivel:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .horarios__nivel:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .horarios__hora {
    -ms-grid-column: 2;
    grid-column: 2;
    font-size: 18px;
  }
  .horarios__hora:nth-child(1) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .horarios__hora:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .horarios__hora:nth-child(3) {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 380px) {
  .horarios__tabla {
    grid-gap: 0px;
    grid-row-gap: 15px;
    width: 92%;
  }
  .horarios__hora {
    font-size: 17px;
  }
  .horarios__nivel {
    width: 120px;
    padding: 20px 15px;
  }
}

@media screen and (max-width: 355px) {
  .horarios__nivel {
    width: 70%;
    font-size: 22px;
    padding: 15px 14px;
  }
  .horarios__hora {
    font-size: 15px;
  }
}

/*--Quienes somos--*/
.descripcion {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.descripcion__texto {
  padding: 0 45px;
}

.descripcion__titulo {
  padding: 20px;
}

.descripcion__subtitulo2, .descripcion__subtitulo1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.subtitulo1 {
  font-size: 100px;
}

.subtitulo1__img {
  height: 85px;
}

.subtitulo2 {
  font-size: 120px;
}

.subtitulo2__img {
  height: 100px;
}

@media screen and (max-width: 450px) {
  .descripcion {
    min-width: 320px;
  }
  .descripcion__texto {
    font-size: 1.125rem;
    padding: 10px;
  }
  .subtitulo1 {
    font-size: 60px;
  }
  .subtitulo1__img {
    height: 50px;
  }
  .subtitulo2 {
    font-size: 70px;
  }
  .subtitulo2__img {
    height: 60px;
    position: relative;
    bottom: 0;
  }
}

.logros {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.logros__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 15px;
}

.subtitulo--grande {
  margin: 0px;
  font-size: 80px;
  margin-left: 15px;
}

.glide {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glide__slides {
  overflow: visible;
}

.glide__slide {
  opacity: .7;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.glide__slide-img {
  width: 100%;
  border-radius: 15px;
}

.glide__slide--active {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  /*transform: scale(1.1);*/
}

.glide i.fas {
  font-size: 32px;
}

@media screen and (min-width: 1370px) {
  .logros {
    min-height: 950px;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1200px) {
  .logros {
    min-height: 65vh;
  }
}

@media screen and (max-width: 1370px) and (max-height: 1200px) {
  .logros {
    min-height: 80vh;
  }
}

@media screen and (max-width: 1370px) and (max-height: 800px) {
  .logros {
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1370px) and (max-height: 1370px) {
  .logros {
    min-height: 60vh;
  }
}

@media screen and (max-width: 1200px) and (max-height: 1370px) {
  .logros {
    min-height: 50vh;
  }
}

@media screen and (max-width: 999px) {
  .logros {
    min-height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .logros {
    min-height: 45vh;
  }
}

@media screen and (max-width: 800px) and (max-height: 1025px) {
  .logros {
    min-height: 57vh;
  }
}

@media screen and (max-width: 700px) {
  .subtitulo {
    font-size: 55px;
  }
  .subtitulo--grande {
    font-size: 70px;
  }
  .subtitulo--peque {
    font-size: 35px;
  }
  .glide {
    max-width: 70%;
  }
  .logros {
    min-height: 40vh;
  }
}

@media screen and (max-width: 450px) {
  .subtitulo {
    font-size: 50px;
  }
  .subtitulo--grande {
    font-size: 65px;
  }
  .subtitulo--peque {
    font-size: 30px;
  }
  .logros {
    min-height: 70vh;
  }
}

@media screen and (max-width: 450px) and (max-height: 820px) {
  .logros {
    min-height: 65vh;
  }
}

@media screen and (max-width: 360px) {
  .subtitulo {
    font-size: 45px;
  }
  .subtitulo--grande {
    font-size: 60px;
  }
  .subtitulo--peque {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .subtitulo {
    font-size: 40px;
  }
  .subtitulo--grande {
    font-size: 55px;
  }
  .subtitulo--peque {
    font-size: 28px;
  }
}

.inicio {
  margin: 20px auto;
  max-width: 1800px;
}

.inicio__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.inicio__img {
  width: 100%;
  height: auto;
}

.inicio__imagen {
  max-width: 40%;
  min-width: 300px;
  margin: 10px;
}

/*MATRICULA*/
.matriculas {
  position: relative;
}

.matricula__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5px;
  height: 800px;
}

.matricula__barra {
  background-color: rgba(0, 76, 79, 0.452);
  font-family: BebasNeue;
  position: absolute;
  font-size: 40px;
  width: 100%;
  height: 80px;
  bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10px;
  line-height: 50px;
}

.matricula__boton {
  position: relative;
  padding-left: 11px;
  padding-right: 11px;
}

.matricula__boton::before, .matricula__boton::after {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  content: '';
  background: #FFF;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: opacity 0;
  transition: opacity 0;
}

.matricula__boton:before {
  left: 0px;
}

.matricula__boton:after {
  right: 0px;
}

.matricula__boton:hover:before, .matricula__boton:hover:after {
  width: 100%;
  opacity: 0.3;
}

/*Matriculas ventada emergente*/
.matricula__ventana {
  background-color: rgba(51, 49, 49, 0.644);
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
  display: none;
}

.ventana {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  width: 65%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/fondo-pc.webp);
  background-size: cover;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.ventana--activa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ventana__img--movil {
  display: none;
}

.ventana__img--web, .ventana__img--movil {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ventana__cierre {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ventana__cierre-icono {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.boton--ventana {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .ventana {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .ventana {
    background-image: url(../img/fondo-suficiencia-cel.webp);
    max-width: 300px;
  }
  .ventana__img--movil {
    display: block;
    max-height: 75vh;
  }
  .ventana__img--web {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .matricula__barra {
    bottom: 100px;
    height: 55px;
    font-size: 35px;
    line-height: 40px;
  }
  .matricula__img {
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .matricula__img {
    height: 500px;
  }
  .matricula__barra {
    bottom: 75px;
  }
}

@media screen and (max-width: 450px) {
  .matricula__img {
    height: 450px;
  }
}

/* BLOQUE MODALIDADES */
.modalidades {
  width: 100%;
  min-height: 660px;
  max-height: 100vh;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.modalidades__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalidades__raya {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.modalidades__img {
  width: 467px;
  margin-top: 1.5%;
}

.modalidad__clasica, .modalidad__plus {
  width: 30%;
  height: 460px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalidad__clasica {
  color: #E2D8D8;
}

.modalidad__plus {
  margin-left: 3%;
}

.modalidad__subtitulo {
  font-family: BebasNeue;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 20px;
}

.modalidad__lista {
  padding-left: 30px;
}

.modalidad__item {
  font-family: PoiretOne;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 28px 0px;
}

.modalidad__item:nth-child(1) {
  margin-top: 0px;
}

.modalidad__item:nth-child(5) {
  margin-bottom: 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item__texto {
  margin: 0px;
  margin-left: 15px;
}

.item__texto:nth-child(5) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*MODALIDADES RESPONSIVE*/
@media screen and (max-width: 1200px) {
  .modalidades {
    height: 100%;
    min-height: 605px;
  }
  .modalidades__img {
    width: 350px;
    height: 386.17px;
    margin-top: 11%;
  }
  .modalidad__clasica, .modalidad__plus {
    width: 80%;
  }
  .modalidad__subtitulo {
    font-size: 41px;
  }
  .modalidad__item {
    font-size: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .modalidades__img {
    width: 300px;
    height: 331px;
    margin-top: 19%;
  }
  .modalidad__item {
    font-size: 23px;
  }
}

@media screen and (max-width: 900px) {
  .modalidad__clasica, .modalidad__plus {
    width: 80%;
  }
  .modalidad__subtitulo {
    font-size: 40px;
  }
  .modalidad__lista {
    padding-right: 30px;
  }
  .modalidad__item {
    font-size: 23px;
  }
  .modalidades {
    max-height: 160vh;
  }
  .modalidades__img {
    width: 0px;
  }
}

@media screen and (max-width: 620px) {
  .modalidades {
    min-height: 120vh;
  }
}

@media screen and (max-width: 570px) and (max-height: 320px) {
  .modalidades {
    min-height: 190vh;
  }
}

@media screen and (max-width: 540px) {
  .modalidad__clasica, .modalidad__plus {
    width: 80%;
  }
  .modalidad__plus {
    margin-left: 0px;
    margin-top: 30px;
  }
  .modalidad__clasica {
    margin-bottom: 30px;
  }
  .modalidad__subtitulo {
    font-size: 40px;
  }
  .modalidad__lista {
    padding-right: 20px;
  }
  .modalidad__item {
    font-size: 20px;
  }
  .modalidades {
    max-height: 200vh;
  }
  .modalidades__raya {
    visibility: visible;
    width: 100%;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 12.8%, rgba(255, 255, 255, 0.497055) 51.13%, rgba(255, 255, 255, 0) 90.22%) 1;
       border-image: -webkit-gradient(linear, right top, left top, color-stop(12.8%, rgba(255, 255, 255, 0)), color-stop(51.13%, rgba(255, 255, 255, 0.497055)), color-stop(90.22%, rgba(255, 255, 255, 0))) 1;
       border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 12.8%, rgba(255, 255, 255, 0.497055) 51.13%, rgba(255, 255, 255, 0) 90.22%) 1;
  }
  .modalidades__contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .modalidades__img {
    width: 0px;
    height: 0px;
    margin: 0px;
    visibility: hidden;
  }
}

@media screen and (max-width: 420px) {
  .modalidad__lista {
    padding-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .modalidad__item {
    font-size: 18px;
  }
  .modalidad__subtitulo {
    font-size: 35px;
  }
}

.brochure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #02484a83;
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.brochure__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "PoiretOne";
  text-align: center;
  font-size: 20px;
}

.brochure__texto {
  margin: 0;
  width: 90%;
}

/*boton de descarga*/
.boton {
  padding: 10px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  position: relative;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #ffffff0e;
}

.boton__enlace {
  color: #fff;
  text-decoration: none;
}

.boton:hover {
  background-color: #166b6e;
}

.boton__icono {
  height: 20px;
  margin-left: 15px;
}

/*Fin del boton de descarga*/
@media screen and (min-width: 900px) {
  .brochure__contenedor {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  .brochure__contenedor {
    font-size: 21px;
  }
}

@media screen and (max-width: 400px) {
  .brochure__contenedor {
    font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  .brochure__contenedor {
    font-size: 18px;
  }
}

.mantenimiento {
  background-image: url("../img/mantenimientopc.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .mantenimiento {
    background-image: url("../img/mantenimiento-cel.webp");
  }
}

.portada {
  background-image: url("../img/talleres/fondo portada.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 720px;
  width: 100%;
  margin: 0;
}

.portada--limitador {
  background-image: url("../img/talleres/fondo portada persona.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.home {
  margin: 10px;
}

.titulo__texto--talleres {
  margin-left: 20px;
  padding-left: 30px;
}

hr {
  width: 90%;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .portada {
    background-image: url("../img/talleres/portada-talleres-celular.png");
    height: 100vh;
    position: relative;
    background-size: cover;
  }
  .titulo--talleres {
    position: absolute;
    margin-bottom: 15px;
    bottom: 0;
    width: 100%;
  }
  .titulo__texto--talleres {
    text-align: center;
  }
  .titulo__subtitulo1--talleres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.simbolo {
  border-radius: 100%;
  position: relative;
  width: 120px;
  height: 120px;
  background-size: cover;
}

.simbolo--maqueteria {
  background-image: url("../img/talleres/icon-maqueteria.png");
}

.simbolo--maqueteria:hover {
  background-image: url("../img/talleres/icon-maqueteria-hover.png");
}

.simbolo--geometria {
  background-image: url("../img/talleres/icon-geometria.png");
}

.simbolo--geometria:hover {
  background-image: url("../img/talleres/icon-geometria-hover.png");
}

.simbolo--dibujo {
  background-image: url("../img/talleres/icon-dibujo.png");
}

.simbolo--dibujo:hover {
  background-image: url("../img/talleres/icon-dibujo-hover.png");
}

.temas-contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  padding-right: 20px;
}

.navegacion--talleres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PoiretOne";
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  margin-left: 66px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navegacion__elemento__text {
  text-align: center;
  font-weight: normal;
  margin: 10px 0;
}

@media screen and (max-width: 880px) {
  .simbolo {
    width: 100px;
    height: 100px;
  }
  .navegacion--talleres {
    margin: 0;
    width: 95%;
  }
  .navegacion__elemento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .simbolo {
    width: 80px;
    height: 80px;
  }
  .navegacion__elemento__text {
    font-size: 18px;
  }
}

.contenido {
  background-image: url("../img/talleres/fondo-contenido.jpg");
  background-size: cover;
}

.contenido__curso {
  padding: 0;
  padding-left: 50px;
  margin: 1vh 0;
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido__curso > * {
  margin-left: 20px;
}

.contenido__curso:last-child {
  margin-bottom: 0;
}

.limitador {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.talleres__información {
  padding-left: 50px;
}

.talleres__texto {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.talleres-flecha {
  width: 24px;
  height: 21px;
  margin-left: 6px;
  margin-right: 6px;
  background-image: url("../img/talleres/flecha-redes.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.redes-talleres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: .1;
      -ms-flex-positive: .1;
          flex-grow: .1;
  margin-right: 10px;
  -ms-grid-column: 3;
  grid-column: 3;
}

.redes-talleres_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.redes-talleres__icono {
  width: 50px;
  margin-left: 5px;
}

.redes-talleres > * {
  margin-left: 5px;
}

.redes-talleres__escribenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.titulo__subtitulo1--talleres {
  line-height: 120px;
}

.titulo-curso {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  font-family: "BebasNeue";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titulo-curso p {
  margin-left: 20px;
  text-align: end;
}

.titulo-curso__texto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titulo-curso__texto2__imagen {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  margin-bottom: 20px;
}

.titulo-curso__texto2__imagen--first {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.titulo-curso__subtitulo1, .titulo-curso__subtitulo2 {
  position: relative;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titulo-curso__subtitulo1 {
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.titulo-curso__subtitulo1 span {
  display: block;
  font-size: 50px;
}

.titulo-curso__subtitulo2 {
  font-size: 130px;
}

.info {
  font-family: "PoiretOne";
  width: 50%;
}

.temas {
  font-family: "PoiretOne";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: .2;
      -ms-flex-positive: .2;
          flex-grow: .2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.subtitulo-curso {
  font-family: "PoiretOne";
  margin-left: 20px;
}

.opcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: .1;
      -ms-flex-positive: .1;
          flex-grow: .1;
}

.opcion__texto {
  font-size: 1.125rem;
  width: 100px;
}

.opcion__numero {
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 100%;
  font-family: "BebasNeue";
  font-size: 1.7rem;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

.geometria, .maqueteria, .dibujo {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.geometria {
  background-image: url("../img/talleres/mano geometria.png");
}

.maqueteria {
  background-image: url("../img/talleres/mano maqueteria.png");
}

.dibujo {
  background-image: url("../img/talleres/mano dibujo.png");
}

@media screen and (min-width: 1440px) {
  .contenido__curso {
    min-height: 900px;
  }
}

@media screen and (max-width: 880px) {
  .temas {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .temas-contenedor {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .titulo-curso__texto2 {
    width: 100%;
  }
  .titulo-curso__texto2__imagen {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .titulo__texto--talleres {
    padding-left: 0;
    margin: 0;
  }
  .titulo__subtitulo1--talleres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 80px;
  }
  .redes-talleres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redes-talleres__icono {
    width: 40px;
  }
  .contenido__curso {
    padding-left: 2%;
  }
  .talleres__información {
    padding-left: 2%;
  }
}

@media screen and (max-width: 480px) {
  .talleres-flecha {
    background-image: url("../img/talleres/flecha-ico.png");
  }
  .portada--limitador {
    background-image: none;
  }
  .titulo-curso p {
    margin-left: 0;
    text-align: left;
  }
  .titulo-curso__texto2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contenido {
    background-image: url("../img/talleres/fondo contenido movil.jpg");
  }
  .maqueteria {
    background-image: url("../img/talleres/mano maqueteria movil.png");
    background-size: 70%;
  }
  .dibujo {
    background-image: url("../img/talleres/mano dibujo movil.png");
    background-size: 70%;
  }
  .geometria {
    background-size: 70%;
    background-image: url("../img/talleres/mano geometria movil.png");
  }
}

.informacion {
  font-family: "PoiretOne";
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informacion__titulo {
  font-size: 4rem;
  text-align: center;
  margin: 25px 0;
  color: white;
  letter-spacing: 3px;
}

.talleres__flecha-atras {
  height: 32px;
}

.flecha-atras__link {
  font-family: "PoiretOne";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 180px;
  position: relative;
  top: 20px;
  left: 5px;
  font-size: 20px;
  margin-bottom: 30px;
}

.info__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info__titulo {
  font-size: 30px;
  margin: 10px 0px;
}

.info__contenido {
  font-size: 20px;
}

.info-curso__tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nivel__turno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-align: center;
}

.contactos__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0px;
}

.inscripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inscripcion__precio {
  font-size: 40px;
  margin: 10px 0px;
  font-weight: bold;
}

.inscripcion__boton {
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.29);
  font-size: 30px;
  padding: 10px 60px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  margin-top: 10px;
}

.inscripcion__tabla {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
}

.it__promociones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.it__promocion {
  height: 10px;
}

.it__descuento {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 230px;
  margin: 0;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.it__precio {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-info__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion__ico {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.duracion--margin {
  margin-left: 10px;
}

.necesito--margin {
  margin-left: 30px;
}

.recursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 85px;
  height: 150px;
}

.recursos__titulo {
  letter-spacing: 0.145em;
  margin: 0px;
  margin-left: 35px;
}

.recursos--margin {
  padding-left: 10px;
  width: 250px;
}

.flecha__ico {
  margin-right: 15px;
}

.escribenos {
  margin-right: 20px;
}

.contactos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacion__tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.repuesto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.it-c4, .it-c5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo--margin {
  margin-left: 20px;
}

.it-c4 {
  width: 45%;
}

@media screen and (max-width: 1025px) {
  .it-c4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .talleres__flecha-atras {
    height: 28px;
  }
  .repuesto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .repuesto:nth-child(1) {
    width: 40%;
  }
  .recursos {
    top: 5px;
    height: 130px;
  }
  .it-c3 {
    width: 420px;
  }
  .informacion__tabla {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    margin-bottom: 25px;
  }
  .duracion--margin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .informacion__tabla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .informacion__titulo {
    visibility: hidden;
    height: 0;
  }
  .repuesto:nth-child(1) {
    width: 100%;
  }
  .it-c3 {
    margin-bottom: 30px;
  }
  .it-c4 {
    width: 100%;
  }
  .it-c1, .it-c4 {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .seccion-info__titulo {
    margin-left: 30px;
  }
  .necesito--margin {
    margin-left: 65px;
  }
  .inscripcion__boton {
    margin-top: 20px;
  }
  .it-c5, .it-c6 {
    top: 0;
    margin-top: 30px;
  }
  .repuesto {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */