.inicio{
    margin:20px auto;
    max-width: 1800px;
    &__contenedor{
        display: flex;
        justify-content: space-around;
        margin : 20px auto 100px auto;
        align-items: center;
        flex-wrap: wrap;
        width:80%;

    }

    &__img{ 
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    &__imagen{
        max-width:40%;
	    min-width:300px;
        margin: 10px;
    }
}
