@font-face {
    font-family:"PoiretOne";
    src: url('../fonts/PoiretOne.ttf')
}
.brochure{
    display: flex;
    justify-content: center;
    height: 130px;
    width: 100%;
    background-color:#02484a83;
    padding-top: 15px;
}
.brochure__contenedor{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
    color:#fff;
    font-family: "PoiretOne";
    text-align: center;
    font-size: 20px;
    z-index: 1000
}

.brochure__texto{
    margin: 0;
    width: 90%;
}
/*boton de descarga*/
.boton__enlace{
    color:#fff;
    text-decoration: none;
}
.boton{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    position: relative;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-color: #ffffff0e;
}
.boton:hover{
    background-color:#166b6e;
}
.boton__icono{
    height: 20px;
    margin-left: 15px;
}

/*Fin del boton de descarga*/
@media screen and (max-width: 1200px) and (max-height: 1370px){
    .brochure__texto{
        width: 90%;
    }
}
@media screen and (max-width: 690px) and (max-height: 380px){
    .brochure__texto{
        width: 90%;
    }
}

@media screen and (min-width:900px){
    .brochure__contenedor{
        font-size: 24px;
    }
}
@media screen and (max-width:700px){
    .brochure__contenedor{
        font-size: 21px;
    }
}
@media screen and (max-width: 400px){
    .brochure__contenedor{
        font-size: 19px;
        width: 350px;
    }
    .boton{
        background-color: #ffffff0e;
        padding: 8px;
        padding-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        margin-top: 20px;
    }   
}  
@media screen and (max-width: 320px){
    .boton{
        margin-top: 10px;
    }
    .brochure__contenedor{
        margin: 0px 5px;
        font-size: 18px;
    }
}