/* BLOQUE MODALIDADES */
.modalidades{
    width: 100%;
    min-height: 660px;
    max-height: 100vh;
}
.seccion__titulo{
    font-family: BebasNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 86px;
    text-align: center;
}

.modalidades__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modalidad__clasica, .modalidad__plus{
    width: 30%;
    height: 460px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalidad__clasica{
    color:#E2D8D8;
}
.modalidad__plus{
    margin-left: 3%;
}
.modalidad__subtitulo{
    font-family: BebasNeue;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
}
.modalidad__lista{
    padding-left: 30px;
}

.item__texto{
    margin: 0px;
    margin-left: 15px;
}

.modalidades__raya{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.modalidad__item{
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;

    list-style: none;
    display: flex;
    align-items: center;
    margin: 28px 0px;
}
.modalidad__item:nth-child(1){
    margin-top: 0px;
}
.modalidad__item:nth-child(5){
    margin-bottom: 0px;
    align-items: flex-start;
}
.item__texto:nth-child(5){
    align-items: flex-start;
}
.modalidades__img{
    width: 467px;
    margin-top: 1.5%;
}

/*MODALIDADES RESPONSIVE*/
@media screen and (max-width: 1200px){
    .modalidad__clasica, .modalidad__plus{
        width: 80%;
    }
    .modalidad__subtitulo{
        font-size: 41px;
    }
    .modalidades{
        height: 100%;
        min-height: 605px;
    }
    .modalidad__item{
        font-size: 25px;
    }
    .modalidades__img{
        width: 350px;
        height: 386.17px;
        margin-top: 11%;
    }
}
@media screen and (max-width: 1050px){
    .modalidades__img{
        width: 300px;
        height: 331px;
        margin-top: 19%;
    }
    .modalidad__item{
        font-size: 23px;
    }
    .seccion__titulo{
        font-size: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 900px){
    .modalidad__clasica, .modalidad__plus{
        width: 80%;
    }
    .modalidad__subtitulo{
        font-size: 40px;
    }
    .modalidades{
        max-height: 160vh;
    }
    .modalidad__lista{
        padding-right: 30px;
    }
    .modalidad__item{
        font-size: 23px;
    }
    .modalidades__img{
        width: 0px;
    }
}
@media screen and (max-width: 620px){
    .modalidades{
        min-height: 120vh;
    }
}
@media screen and (max-width: 570px) and (max-height: 320px){
    .modalidades{
        min-height: 190vh;
    }
}
@media screen and (max-width: 540px){
    .seccion__titulo{
        font-size: 42px;
        line-height: 42px;
    }
    .modalidades__contenedor{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .modalidad__clasica, .modalidad__plus{
        width: 80%;
    }
    .modalidad__plus{
        margin-left: 0px;
        margin-top: 30px;
    }
    .modalidad__clasica{
        margin-bottom: 30px;
    }
    .modalidad__subtitulo{
        font-size: 40px;
    }
    .modalidades__raya{
        visibility: visible;
        width: 100%;
        border: 2px solid transparent; 
        border-image: linear-gradient(270deg, 
        rgba(255, 255, 255, 0) 12.8%, 
        rgba(255, 255, 255, 0.497055) 51.13%, 
        rgba(255, 255, 255, 0) 90.22%) 1;
    }
    .modalidades{
        max-height: 200vh;
    }
    .modalidad__lista{
        padding-right: 20px;
    }
    .modalidad__item{
        font-size: 20px;
    }
    .modalidades__img{
        width: 0px;
        height: 0px;
        margin: 0px;
        visibility: hidden;
    }
}
@media screen and (max-width: 420px){
    .modalidad__lista{
        padding-right: 0px;
    }
}
@media screen and (max-width: 320px){
    .modalidad__item{
        font-size: 18px;
    }
    .modalidad__subtitulo{
        font-size: 35px;
    }
    .seccion__titulo{
        font-size: 38px;
    }
}