.inicio{
    margin-top: 80px;
}
.inicio__texto{
    font-family: "PoiretOne";
    font-size: 30px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.inicio__contenedor{
    display: flex;
    justify-content: space-around;
    margin: 0 180px;
    align-items: center;
}
.inicio__img{ 
    width: 450px;
}
@media screen and (max-width: 1200px){
    .inicio{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .inicio__texto{
        font-size: 25px;
    }   
    .inicio__img{
        width: 380px;
    }
    .inicio__contenedor{
        margin: 0 150px;
    }
}
@media screen and (max-width: 1200px) and (max-height: 1370px){
    .inicio{
        min-height: 40vh;
    }
}
@media screen and (max-width: 980px){
    .inicio__contenedor{
        margin: 0 100px;
    }
    .inicio__img{
        width: 350px;
    }

}

@media screen and (max-width: 790px){
    .inicio__contenedor{
        margin:0 70px;
    }
    .inicio__texto{
        font-size:25px;
    }   
    .inicio__img{
        width: 300px;
    }
}

@media screen and (max-width: 790px) and (max-height: 1025px){
    .inicio{
        min-height: 43vh;
    }
}
@media screen and (max-width: 690px){
    .inicio__contenedor{
        width: 75%;
        max-width: 960px;
        min-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .inicio__texto{
        display: none;
    }   
    .inicio__img{
        width: 400px;
        max-width: 100%;
    }
}
@media screen and (max-width: 650px){
    .inicio{
        margin-bottom: 50px;
    }
    .inicio__img{
        width: 350px;
        max-width: 100%;
    }
}
@media screen and (max-width: 415px){
    .inicio{
        margin-bottom: 40px;
        min-height: 52vh;
    }
}
@media screen and (max-width: 415px) and (max-height: 736px){
    .inicio{
        margin-bottom: 40px;
        min-height: 58vh;
    }
}
@media screen and (max-width: 400px){
    .inicio{
        min-height: 65vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 820px){
    .inicio{
        min-height: 53vh;
    }
}
@media screen and (max-width: 320px){
    .inicio__img{
        width: 280px;
    }
}