/*--Quienes somos--*/
.descripcion{
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
} 
.descripcion__texto{
    font-size: 30px;
    padding: 0 80px 0 20px;
    font-family: "PoiretOne";
}
.descripcion__titulo{
    width: 350px;
    padding:20px;
}
.descripcion__subtitulo2, .descripcion__subtitulo1{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}
.subtitulo1{
    font-size: 100px;
    font-family: "BebasNeue";
}
.subtitulo1__img{
    height: 85px;
}
.subtitulo2{
    font-size: 120px;
    font-family: "BebasNeue";
}
.subtitulo2__img{
    height: 100px;
}
/*Fin quienes somos*/
@media screen and (max-width: 900px){
    .descripcion__titulo{
        margin: 0;
        padding: 0;
    }
    .descripcion__texto{
        padding: 0 50px;
    }
    .descripcion__parrafo{
        margin-top: 20px;
    }
}
@media screen and (max-width: 450px){
    .descripcion__subtitulo1{
        width: 205px;
    }
    .subtitulo1{
        font-size: 60px;
    }
    .subtitulo1__img{
        height: 50px;
    }
    .descripcion__subtitulo2{
        align-items: center;    
    }
    .subtitulo2{
        font-size: 70px;
    }
    .subtitulo2__img{
        height: 60px;
        position: relative;
        bottom: 0;
    }
    .descripcion{
        flex-direction: column;
        min-width: 320px;
    }
    .descripcion__titulo{
        width: 200px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .descripcion__texto{
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
}
