/*--Quienes somos--*/
.somos{
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
} 
.somos  .text{
    font-size:30px;
    padding:0 80px 0 20px;
    font-family:"PoiretOne";
}
.logo-somos{
    width: 350px;
    padding:20px;
}
.somos-text{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}
.quienes-text span{
    font-size:100px;
    font-family:"BebasNeue";
}
.quienes-text img{
    height: 85px;
}
.somos-text span{
    font-size:120px;
    font-family:"BebasNeue";
}
.somos-text img{
    height: 100px;
}
/*Fin quienes somos*/
@media screen and (max-width: 900px){
    .logo-somos{
        margin:0;
        padding:0;
    }
    .somos .text{
        padding:0 50px;
    }
    .somos .text p {
        margin-top: 20px;
    }
}
@media screen and (max-width: 450px){
    .quienes-text span{
        font-size:60px;
    }
    .quienes-text img{
        height: 50px;
    }
    .somos-text{
        align-items: center;    
    }
    .somos-text span{
        font-size:70px;
    }
    .somos-text img{
        height: 60px;
        position:relative;
        bottom:0;
    }
    .somos{
        flex-direction: column;
        min-width: 320px;
    }
    .logo-somos{
        width: 200px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .somos  .text{
        font-size:20px;
        padding: 10px;
        text-align: center;
    }
}
