body {
	margin: 0;
    background-color: #011D23;
}
.bloque1{
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
.bloque1__imagen{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------Bloque de bolitas--------------*/

@media screen and (max-width: 440px){
    .bloque1__imagen{
        display: block;
    }
    
    .bolitas{
        top: 25px;
    }
}

/*--------Fin del bloque de bolitas--------*/