.contenido{
    background-image: url("../img/talleres/fondo escritorio.jpg");
    background-size:cover ;
    &__curso{        
        padding: 50px 0;
        margin: 0;
        padding-left: 50px;
        width: 100%;
        >*{
            margin-left: 20px;
        }
    }
}
.talleres__información{
    padding-left: 50px;
}
.talleres__texto{
    margin: 0;
    margin-left: 20px;
}
.talleres-flecha{
    width: 24px;
    height: 21px;
    margin-right: 2%;
}
.redes-talleres{
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    position: relative;
    left: 500px;
    &__icono{
        width: 50px;
    }
}
.titulo-curso{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1200px;
    font-family: $title-font;
    flex-wrap: wrap;
    p{
        margin-left: 20px;
        text-align: end;
    }
}
.titulo-curso_texto{
    top: -20px;
    position: absolute;
    margin-left: 120px;
    grid-row: 1/7;
}
.titulo-curso__subtitulo1, .titulo__subtitulo2{
    position: relative;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.titulo-curso__subtitulo1{
    font-size:100px ;
    display: flex;
    flex-wrap: nowrap;
    span{
        display: block;
        font-size: 50px;
    }
}
.titulo-curso__subtitulo2{
    font-size:130px ;
}
//Información por curso
.info{
    font-family: $text-font;
    font-size: 1.2rem;
    width: 50%;
}
.temas{
    font-family: $text-font;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.subtitulo-curso{
    font-family: $text-font;
    font-size: 1.4rem;
}
.opcion{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__texto{
        font-size: 1.1rem;
        width: 100px;
    }

    &__numero{
        background-color: rgba(255, 255, 255, 0.226);
        border-radius: 100%;
        font-family: $title-font;
        font-size: 1.7rem;
        padding:5px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 10px;
    }
}

//fondos
.geometria,.maqueteria,.dibujo{
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.geometria{
    background-image: url("../img/talleres/mano geometria.png");
}
.maqueteria{
    background-image: url("../img/talleres/mano maqueteria.png");
}
.dibujo{
    background-image: url("../img/talleres/mano dibujo.png");
}
@media screen and (max-width: 600px){
    
.titulo-curso{
    p{
        margin-left: 0;
        text-align: left;
    }
}
    .contenido{
        background-image: url("../img/talleres/fondo contenido movil.jpg");
    }
    .maqueteria{
        background-image: url("../img/talleres/mano maqueteria movil.png");
    }
    .dibujo{
        background-image: url("../img/talleres/mano dibujo movil.png");
    }
    .geometria{
        background-image: url("../img/talleres/mano geometria movil.png");
    }
}
