.informacion{
    font-family:$text-font;
    max-width: 1500px;
    &__titulo{
        font-size: 4rem;
        text-align: center;
        margin: 25px 0;
        color: white;
        letter-spacing: 3px;
    }
}

.talleres__flecha-atras{
    height: 33px;
}
.flecha-atras__link{
    font-family: $parrafo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    position: relative;
    top: 20px;
    left: 5px;
    font-size: 20px;
}
.info__div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.info__titulo{
    font-size: 30px;
    margin: 10px 0px;
}
.info__contenido{
    font-size: 20px;
}
.info-curso__tabla{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.contactos__div{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}
.inscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inscripcion__precio{
    font-size: 55px;
    margin: 10px 0px;
    font-weight: bold;
}
.inscripcion__boton{
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.29);
    font-size: 34px;
    padding: 10px 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 50px;
}
.nivel__turno{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 0.145em;
}
.nivel__horario{
    grid-column: 2;
}
.seccion-info__titulo{
    display: flex;
    align-items: center;
}
.seccion__ico{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.duracion--margin{
    margin-left: 10px;
}
.duracion__titulo{
    width: 180px;
}
.necesito--margin{
    margin-left: 30px;
}
.recursos{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 85px;
    height: 150px;
}
.recursos__titulo{
    letter-spacing: 0.145em;
    margin: 0px;
    margin-left: 35px;
}
.recursos--margin{
    padding-left: 10px;
    width: 250px;
}
.flecha__ico{
    margin-right: 15px;
}
.escribenos{
    margin-right: 20px;
}
.contactos{
    align-items: center;
}

.informacion__tabla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.it-c1, .it-c2, .it-c3{
    grid-row: 1;
}
.it-c4, .it-c5, .it-c6{
    grid-row: 2;
}
.it-c1, .it-c4, .it-c5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo--margin{
    margin-left: 20px;
}

@media screen and(max-width: 1025px){
    .informacion__tabla{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .it-c1, .it-c2{
        grid-row: 1;
    }
    .it-c3, .it-c4{
        grid-row: 2;
    }
    .it-c5, .it-c6{
        grid-row: 3;
    }
    .it-c4{
        justify-content: center;
    }
    .duracion__titulo{
        width: auto;
    }
}
@media screen and(max-width: 500px){
    .informacion__tabla{
        display: flex;
        flex-direction: column;
    }
    .informacion__titulo{
        visibility: hidden;
        height: 0;
    }
    .it-c3{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .it-c1, .it-c4{
        align-items: initial;
    }
    .seccion-info__titulo{
        margin-left: 30px;
    }
    .duracion--margin{
        margin-left: 85px;
    }
    .necesito--margin{
        margin-left: 65px;
    }
    .inscripcion__boton{
        margin-top: 20px;
    }
    .it-c5, .it-c6{
        top: 0;
        margin-top: 30px;
    }
}