.informacion{
    font-family:$text-font;
    max-width: 1500px;
    @include centrar(column);
    &__titulo{
        font-size: 4rem;
        text-align: center;
        margin: 25px 0;
        color: white;
        letter-spacing: 3px;
    }
}

.talleres__flecha-atras{
    height: 32px;
}
.flecha-atras__link{
    font-family: $parrafo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    position: relative;
    top: 20px;
    left: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}
.info{
    &__div{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &__titulo{
        font-size: 30px;
        margin: 10px 0px;
    }
    &__contenido{
        font-size: 20px;
    }
    &-curso__tabla{
        @include centrar(column)
    }
}
.nivel__turno{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.contactos__div{
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.inscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__precio{
        font-size: 40px;
        margin: 10px 0px;
        font-weight: bold;
    }
    &__boton{
        border-radius: 9px;
        background: rgba(255, 255, 255, 0.29);
        font-size: 30px;
        padding: 10px 60px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        font-weight: bold;
        margin-top: 10px;

        &:hover{
            background: rgba(255, 255, 255, 0.50);
        }
    }
    &__tabla{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
}
.it__promociones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.it__promocion{
    height: 10px;
}
.it__descuento{
    grid-column: 1;
    width: 230px;
    margin: 0;
    padding-left: 40px;
    @include centrar(column)
}
.it__precio{
    grid-column: 2;
    @include centrar(column)
}
.seccion-info__titulo{
    display: flex;
    align-items: center;
}
.seccion__ico{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.necesito--margin{
    margin-left: 30px;
}
.recursos{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 85px;
    height: 150px;
}
.recursos__titulo{
    letter-spacing: 0.145em;
    margin: 0px;
    margin-left: 35px;
}
.recursos--margin{
    padding-left: 10px;
    width: 250px;
}
.flecha__ico{
    margin-right: 15px;
}
.escribenos{
    margin-right: 20px;
}
.contactos{
    align-items: center;
}

.informacion__tabla{
    display: grid;
    width: 98%;
    max-height: 800px;
    grid-template-columns: repeat(9 ,1fr);
    grid-template-rows: repeat(10 ,1fr);
}

.it-c1{
    grid-column: 1/4;
    grid-row: 1/3;
}
.it-c2{
    grid-column: 4/7;
    grid-row: 1/6;
}
.it-c3{
    grid-column: 7/10;
    grid-row: 1/6;
}
.it-c4{
    grid-column: 1/4;
    grid-row: 6/11;
}
.it-c5{
    grid-column: 4/7;
    grid-row: 7/11;
}
.it-c6{
    grid-column: 7/10;
    grid-row: 7/11;
}
.it-c4, .it-c5, .it-c6, .it-c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo--margin{
    margin-left: 20px;
}
@media screen and(max-width: 1052px){
    .talleres__flecha-atras{
        height: 28px;
    }
    .informacion__tabla{
        grid-template-columns: repeat(2 ,1fr);
        grid-template-rows: repeat(11 ,1fr);
    }
    .it-c1, .it-c2, .it-c4{
        grid-column: 1;
    }
    .it-c3, .it-c5, .it-c6{
        grid-column: 2;
    }
    .it-c1{
        grid-row: 1/3;
    }
    .it-c2{
        grid-row: 3/7;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
    }
    .it-c3{
        grid-row: 1/7;
    }
    .it-c4{
        grid-row: 9/12;
    }
    .it-c5{
        grid-row: 8/10;
    }
    .it-c6{
        grid-row: 10/12;
    }
    .recursos{
        top: 55px;
    }
}
@media screen and(max-width: 500px){
    .informacion__tabla{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacion__titulo{
        visibility: hidden;
        height: 0;
    }
    .it-c3{
        margin-bottom: 30px;
    }
    .it-c4{
        width: 100%;
        align-items: initial;
    }
    .it-c1{
        align-items: center;
    }
    .seccion-info__titulo{
        margin-left: 30px;
    }
    .necesito--margin{
        margin-left: 65px;
    }
    .inscripcion__boton{
        margin-top: 20px;
    }
    .it-c5, .it-c6{
        top: 0;
        margin-top: 30px;
    }
}